body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
}

table {
  border-collapse: collapse; /* Collapse borders */
  width: 100%; /* Full-width */
  border: 1px solid #ddd; /* Add a grey border */
  font-size: 12px; /* Increase font-size */
}

table th{
     text-align: center;
}

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.meta{
  margin: 4px;
  line-height: 25px;
}

.left-side {
    display: inline-block;
    width: 60%;
    border-bottom: 1px solid #e3e3e3;
    border-left: 1px solid #e3e3e3;
}
.right-side{
    display: inline-block;
    width: 38%;
    border-bottom: 1px solid #e3e3e3;
    border-left: 1px solid #e3e3e3;
}
.map{
   background-color: coral;
   height: 120%;
}
.detail{
     border: 1px solid #e3e3e3;
}
//does not work!!!!
.site-header .navbar-nav .nav-link.active {
    border: 1px;
    
    /*opacity: 1;
	border: 1px solid #000;
	font-size: 130%;
    font-weight: 500; */
}

.searchInput {
    width: 30%;
    font-size: 15px; /* Increase font-size */
    padding: 1px; /*  Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}
.link-black {
   color: black;
}
#content{
    max-width:100%;
}